<header id="navbar" class="fixed bg-yellow-400 w-full transition-all duration-500 py-1">
  <div class="flex justify-between px-4 md:w-4/5 md:mx-auto md:px-0 lg:w-3/5">
    <p class="flex self-center link"><a href="/livros">Biblioteca</a></p>
    <p class="flex self-center">
      <a href="/">
        <img class="h-8" src="/static/assets/disc-logo.png" alt="">
      </a>
    </p>
    <p class="flex self-center link"><a href="/terry-pratchett">T. Pratchett</a></p>
  </div>
</header>