---
layout: base
---
<div class="bg-gray-900 h-9 -mt-9"></div>
<div class="bg-gray-900">
{% include './_includes/components/quotes.njk' %}
</div>
<div class="md:w-4/5 md:mx-auto">
  <div class="m-4">
    <p>A série de livros de Discworld de Terry Pratchett consiste em impressionantes 41 livros, escritos em um período de 32 anos. O Discworld cresceu e se tornou um dos mundos de fantasia mais ricos em detalhes e criativos da literatura.</p>
    <p>Se você está procurando uma estória única, qualquer um dos livros pode ser apreciado isoladamente, mas se você pretende aproveitar ao máximo sua exploração no Discworld, você pode acessar o pequeno guia de leitura a seguir, dividido em arcos.</p>
    <p class="my-4"><a class="p-2 rounded bg-yellow-400 font-semibold link" href="/guia">Guia de Leitura</a></p>
  </div>
</div>

<script src="./static/js/index.js"></script>